$md-alcnavy: (
  50: #e0e8ee,
  100: #b3c5d4,
  200: #809eb7,
  300: #4d779a,
  400: #265985,
  500: #003c6f,
  600: #003667,
  700: #002e5c,
  800: #002752,
  900: #001a40,
  A100: #759dff,
  A200: #4279ff,
  A400: #0f55ff,
  A700: #0047f5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-alcred: (
  50: #fde7e5,
  100: #fac2bd,
  200: #f79a92,
  300: #f37266,
  400: #f15345,
  500: #ee3524,
  600: #ec3020,
  700: #e9281b,
  800: #e72216,
  900: #e2160d,
  A100: #ffffff,
  A200: #ffdbda,
  A400: #ffaaa7,
  A700: #ff918e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-alcorange: (
  50: #fef3e4,
  100: #fde0bb,
  200: #fccb8e,
  300: #fab661,
  400: #f9a73f,
  500: #f8971d,
  600: #f78f1a,
  700: #f68415,
  800: #f57a11,
  900: #f3690a,
  A100: #ffffff,
  A200: #fff1e9,
  A400: #ffd0b6,
  A700: #ffc09c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-alcblue: (
  50: #ebf4fa,
  100: #cce3f2,
  200: #abd0e9,
  300: #89bde0,
  400: #6faeda,
  500: #56a0d3,
  600: #4f98ce,
  700: #458ec8,
  800: #3c84c2,
  900: #2b73b7,
  A100: #f9fcff,
  A200: #c6e2ff,
  A400: #93c8ff,
  A700: #7abbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-alcgray: (
  50: #e8e8e8,
  100: #c6c6c6,
  200: #a0a0a1,
  300: #7a797b,
  400: #5e5d5e,
  500: #414042,
  600: #3b3a3c,
  700: #323233,
  800: #2a2a2b,
  900: #1c1c1d,
  A100: #7575f2,
  A200: #4747ee,
  A400: #0202ff,
  A700: #0000e8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
