// Jeff Lowy: Custom ALC Colors
$alc-orange: (
	50: #fef5ea,
	100: #fbcf98,
	200: #fbc683,
	300: #fabc6f,
	400: #f9b35a,
	500: #f9a946,
	600: #f8a031,
	700: #f8971d,
	800: #e28a1b,
	900: #cb7c18,
	A100: #fbc683,
	A200: #fabc6f,
	A400: #f9a946,
	A700: #f8a031,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
);
